@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: "Roboto", sans-serif;
}

.navbar{
    position: fixed;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
}

.logo{
    display: flex;
    font-family: "Lobster", sans-serif;
    flex: 30%;
    margin-left: 5%;
    text-align: left;
    justify-content: start;
    align-items: center;
    /* border: 1px solid yellow; */
}

.logo h1{
    margin-left: 18px;
    font-size: 34px;
    color: #2b6ab3;
    filter: drop-shadow(1px 1px 20px #2b6ab3);
}

.menu{
    flex: 65%;
    text-align: right;
    padding: 20px;
    /* border: 1px solid red; */
}

.menu a{
    font-family: "Lobster", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 22px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #2b6ab3;
    transition: 0.1s ease-in-out;
    border-top: 3px solid #2b6ab3;
    filter: drop-shadow(1px 1px 20px #2b6ab3);
}

#cadastro{
    background-color: #2b6ab3;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-left: 2%;
}

#cadastro:hover{
    border: none;
    opacity: 0.7;
    transition: 0.6s ease-in-out;
    filter: drop-shadow(1px 1px 12px #2b6ab3);
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.headline{
    flex: 40%;
    margin-left: 10%;
    /* border: 1px solid blue; */
}

.headline h2{
    font-weight: 900;
    font-size: 24px;
    color: #2b6ab3;
    padding: 0;
    margin: 0;
    font-family: "Lobster", sans-serif;
}

.headline p{
    width: 50%;
    text-align: left;
    margin-top: 3%;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

#instagram{
    display: flex;
    margin-top: 2%;
    font-size: 20px;
    text-decoration: none;
    color: black;
    width: 15%;
    font-family: "Lobster", sans-serif;
}

#instagram:hover{
    transition: 0.4s ease-in-out;
    color: #2b6ab3;
    filter: drop-shadow(1px 1px 20px #2b6ab3);
}

#instagram img{
    margin-right: 4px;
}

.img-headline{
    margin-top: 10%;
    border-radius: 40%;
    flex: 30%;
    text-align: center;
    /* border: 1px solid green; */
}

section{
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
}

section h2{
    width: 100%;
    font-size: 50px;
    font-family: "Lobster", sans-serif;
    font-weight: bold;
    color: #2b6ab3;
}

.servicos{
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 20%;
    padding: 15px;
    margin: 1%;
    border: 1px solid #2b6ab3;
    border-radius: 10px;
    cursor: pointer;
}

h3{
    margin: 4%;
}

.card:hover{
    color: white;
    padding: 30px;
    background-color: #2b6ab3;
    box-shadow: 0px 0px 30px 1px #2b6ab3;
    transition: 0.5s ease-in-out;
}

footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg,#8498c4,#6668bd,#203b91);
    text-align: center;
    border-top: 5px solid #0a0444;
}

.rodape{
    padding: 100px;
}

.rodape p{
    margin-top: 2%;
    font-family: "Roboto", sans-serif;
}

.titulo{
    font-family: "Lobster", sans-serif;
    color: white;
    font-size:34px
}

footer a{
    text-decoration: none;
    color: #0c0c68;
    font-family: "Roboto", sans-serif;
}

footer a:hover{
    color: #06063b;
}
